@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-purple:#201f1f70;
  --primary-purple-dark:#171958af;
}


html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

main{
  padding: 1rem;
}

label {
  font-weight: bold;
}